@{
    ViewBag.Title = "About";
}
<h2>Technologies used</h2>
<h3>@ViewBag.Message</h3>

<p>SQL Data base</p>
<p>Javascript</p>
<p>HTML</p>
<p>CSS</p>
<p>jQuery</p>
<p>Ajax</p>
<p>Identity</p>
<p>C#</p>
<p>ASP.NET</p>