<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется в процессе публикации или упаковки вашего веб-проекта. Вы можете настроить поведение процесса,
изменив этот файл MSBuild. Дополнительные сведения см. по адресу http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://andrey2811-001-site1.atempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>https://andrey2811-001-site1.atempurl.com:8172/msdeploy.axd?site=andrey2811-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>andrey2811-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\andrey2811-001</UserName>
    <_SavePWD>True</_SavePWD>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DB_A2C173_InteticsTestDb" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL6001.SmarterASP.NET;Initial Catalog=DB_A2C173_InteticsTestDb;User ID=DB_A2C173_InteticsTestDb_admin;Password=q123456789" Name="Data Source=SQL6001.SmarterASP.NET;Initial Catalog=DB_A2C173_InteticsTestDb;User ID=DB_A2C173_InteticsTestDb_admin;Password=q123456789;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ApplicationContext, InteticsTestApp" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DB_A2C173_InteticsTestDb-Web.config Connection String">
      <ParameterValue>Data Source=SQL6001.SmarterASP.NET;Initial Catalog=DB_A2C173_InteticsTestDb;User ID=DB_A2C173_InteticsTestDb_admin;Password=q123456789;MultipleActiveResultSets=True</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>